<ion-card>
    <ion-card-header>
        <ion-card-title>@Eliam</ion-card-title>
        <ion-card-subtitle>Hace 12 horas</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
        <img  src="https://ae01.alicdn.com/kf/HTB1UxDHJVXXXXb6XVXXq6xXFXXXp/Partido-sombrero-Fresco-Para-Mascotas-Gatos-Perros-Grooming-Tapas-Sombreros-de-vaquero-Trajes-para-Chihuahua-Pug.jpg" >
        <ion-button href="/feed" expand="block">Regresar</ion-button>
    </ion-card-content>
  </ion-card>

